streamlit
python-dotenv

ibm-watsonx-ai

langchain
langchain-community
langchain-huggingface
langchain-chroma

chromadb
sentence-transformers

PyPDF2
python-docx

pandas

SpeechRecognition
audio-recorder-streamlit